In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_json('iris.json')
df

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()
df['species'] = le.fit_transform(df[['species']])
df

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

     sepalLength  sepalWidth  petalLength  petalWidth  species
0            5.1         3.5          1.4         0.2        0
1            4.9         3.0          1.4         0.2        0
2            4.7         3.2          1.3         0.2        0
3            4.6         3.1          1.5         0.2        0
4            5.0         3.6          1.4         0.2        0
..           ...         ...          ...         ...      ...
145          6.7         3.0          5.2         2.3        2
146          6.3         2.5          5.0         1.9        2
147          6.5         3.0          5.2         2.0        2
148          6.2         3.4          5.4         2.3        2
149          5.9         3.0          5.1         1.8        2

[150 rows x 5 columns]

In [5]:
Xtrain,Xtest,ytrain,ytest = train_test_split(df.drop(['species'],axis=1),df[['species']],random_state=14,test_size=0.2)

In [6]:
Xtrain.shape,ytrain.shape,Xtest.shape,ytest.shape

((120, 4), (120, 1), (30, 4), (30, 1))

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
lr = LogisticRegression()
lr

LogisticRegression()

In [9]:
lr.fit(Xtrain,ytrain)

C:\Users\Admin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [10]:
y_pred = lr.predict(Xtest)

In [11]:
lr.score(Xtrain,ytrain)

0.975

In [12]:
predicted = le.inverse_transform(y_pred)
predicted

array(['setosa', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'virginica', 'setosa',
       'versicolor', 'setosa', 'virginica', 'virginica', 'versicolor',
       'setosa', 'setosa', 'setosa', 'versicolor', 'setosa', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'setosa'], dtype=object)

In [18]:
c = pd.DataFrame([10])
c.shape
c[1] = 2
c.shape
c[2] = 1
c[3] = 1

In [19]:
c

    0   1   2   3
0  10  20  10  15

In [20]:
value = le.inverse_transform(lr.predict(c))

In [21]:
print(""+value)

['virginica']

In [48]:
a

array(10)